<div class="item">
                <div>
                    <div>Avatar URL</div>
                    <input 
                    type="url" 
                    name="avatar_url" 
                    placeholder="http://"
                    value="{{ instructor.avatar_url }}"
                    >
            </div>

            <div class="item">
                <div>
                    <div>Instrutor</div>
                    <input 
                    type="text"
                    name="name"
                    placeholder="Nome do instrutor"
                    value="{{ instructor.name }}"
                    >
            </div>

            <div class="item">
                <div>Data de nascimento</div>
                <input type="date" 
                name="birth"
                value="{{ instructor.birth }}" 
                >
            </div>

            <div class="item">
                <div>Sexo</div>
                <span><input 
                        type="radio" 
                        name="gender" 
                        value="M"
                        {% if instructor.gender == "M" %}
                        checked
                        {% endif %}>Masculino</span>
                <span><input 
                        type="radio" 
                        name="gender" 
                        value="F"
                        {% if instructor.gender == "F" %}
                        checked
                        {% endif %}>Feminino</span>
            </div>

            <div class="item">
                <div>Area de atuação</div>
                <div>
                    <input 
                    type="text"
                    name="services"
                    placeholder="Separe os serviços prestados por virgula"
                    value="{{ instructor.services }}"
                    >
                </div>
            </div>

            <button class="submit" type="submit">Salvar</button>