{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <a class="button__new" href="/members/create">Novo membro</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Membros</th>
                    <th>Email</th>
                    <th>Ações</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for member in members %}
                <tr>
                    <td><span style="background-image: url({{member.avatar_url}})"></span>
                    {{ member.name }}</td>
                    <td>{{ member.email }}</td>
                    <td><a href="/members/{{member.id}}">ver</a></td>
                    <td><a href="/members/{{member.id}}/edit">editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}