{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <a class="button__new" href="/members/create">Novo membro</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Atendimento</th>
                    <th>Ações</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
            {% for instructor in instructors %}
                <tr>
                    <td><span style="background-image: url({{instructor.avatar_url}})"></span>
                    {{ instructor.name }}</td>
                    <td>{{ instructor.services }}</td>
                    <td><a href="/instructors/{{instructor.id}}">ver</a></td>
                    <td><a href="/instructors/{{instructor.id}}/edit">editar</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}