{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="width: 100%; min-height: 400px; background: url('{{ member.avatar_url }}') no-repeat center center / cover"></section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Instrutor</div>
                <div>{{ member.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ member.age }}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if member.gender == "M" else "Feminino" }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for member in member.services %} 
                    <span>{{ member }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ member.created_at }}</div>
            </div>

            <a href="{{ member.id }}/edit/" class="button">Editar</a>
        </section>

    </div>

{% endblock content %}