<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Manager</title>
    <link rel="shortcut icon" href="https://image.flaticon.com/icons/png/512/249/249187.png" type="image/x-icon">
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/instructors">Instructors</a>
            <a href="/members">Members</a>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <script src="/scripts.js"></script>
    
</body>
</html>